.main {
  width: 120px;
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.reg {
  margin: 100px 33%;
  padding: 30px 50px 70px 50px;
}

#flash {
  margin: 10px 20%;
}

